<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find config_files)/move_base_params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find config_files)/move_base_params/costmap_common_params.yaml" command="load" ns="local_costmap" />   
    <rosparam file="$(find config_files)/move_base_params/local_costmap_params.yaml" command="load" />   
    <rosparam file="$(find config_files)/move_base_params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find config_files)/move_base_params/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find config_files)/move_base_params/move_base_params.yaml" command="load" />
    <rosparam file="$(find config_files)/move_base_params/global_planner_params.yaml" command="load" />
    <rosparam file="$(find config_files)/move_base_params/navfn_global_planner_params.yaml" command="load" />

    <param name="global_costmap/global_frame" value="map"/>
    <param name="global_costmap/robot_base_frame" value="base_link"/>
    <param name="local_costmap/global_frame" value="odom"/>
    <param name="local_costmap/robot_base_frame" value="base_link"/>
    <param name="DWAPlannerROS/global_frame_id" value="odom"/>
  </node>

  <node name="speech_recog" pkg="pocketsphinx" type="asr_test.py" output="screen">
    <remap from="jsgf_audio" to="sphinx_audio" />
    <param name="gram" value="$(find pocketsphinx)/vocab/proy"/>
    <param name="dict" value="$(find pocketsphinx)/vocab/proy.dict"/>
    <param name="grammar" value="proy"/>
    <param name="rule" value="command"/>
    <param name="lm" value=":default"/>
    <param name="hmm" value=":default"/>
  </node>

  <node name="audio_control" pkg="pocketsphinx" type="send_audio.py" output="screen">
    <param name="input" value=":default"/>
  </node>

  <node name="sound_play" pkg="sound_play" type="soundplay_node.py" output="screen"/>  

  <node name="listener" pkg="proyecto" type="listener.py" output="screen"/>
  <node name="command" pkg="proyecto" type="comnd_actions.py" output="screen"/>

</launch>